<nav class="menu-bar shadow-md">
    <div class="menu-left">
        <img src="https://i.postimg.cc/PJ7n4nt7/logo-La-Basi-lica-de-la-Puri-ssima-Concepcio.jpg" class="menu-logo">
    </div>

    <div class="menu-buttons">
        <button onclick="openHistoria()">HISTORIA</button>
        <button onclick="openHorarios()">HORARIOS</button>
        <button onclick="openActividades()">ACTIVIDADES</button>
        <button onclick="openContacto()">CONTACTO</button>
    </div>

    <button onclick="toggleTheme()" class="theme-btn" id="themeIcon">
        🌙
    </button>
</nav>