<div id="kioskMenu">

    <div class="kiosk-menu-header">
        <img src="./assets/logos/logo-dark.png" class="kiosk-logo kiosk-logo-dark">
        <img src="./assets/logos/logo-light.png" class="kiosk-logo kiosk-logo-light">
        <div class="kiosk-menu-controls">
            <button id="themeIcon" onclick="toggleTheme()" class="theme-btn">🌙</button>
            <button onclick="event.stopPropagation(); hideKioskMenu()" class="kiosk-close-btn">✕</button>
        </div>
    </div>

    <div class="kiosk-nav-buttons">
        <button class="menu-btn" onclick="event.stopPropagation(); openHistoria(); hideKioskMenu()">HISTORIA</button>
        <button class="menu-btn" onclick="event.stopPropagation(); openHorarios(); hideKioskMenu()">HORARIOS</button>
        <button class="menu-btn" onclick="event.stopPropagation(); openContacto(); hideKioskMenu()">CONTACTO</button>
    </div>

</div>
